<p id="notice"><%= notice %></p>

<%# Left side of listing  %>
<div class="bg-light p-5 rounded-lg sm-5 listingtron">
    <div class="row">
      <div class="col-md-6">
        <% @listing.images.each do |image| %>
          <%= image_tag image, class: "listing-image" %>
        <% end %>
      </div>
  <%# Right side of listing  %>
        <div class="col-md-6">
          <p>
            <strong>Title:</strong><br>
            <%= @listing.title %>
          </p>

          <p>
            <strong>Price:</strong><br>
            $<%= @listing.price %>
          </p>

          <p>
            <strong>Description:</strong><br>
            <%= @listing.description %>
          </p>

          <p>
            <strong>Measurements:</strong><br>
            <%= @listing.measurements %>
          </p>

          <p>
            <strong>State:</strong><br>
            <%= @listing.state %>
          </p>

          <p>
            <strong>City:</strong><br>
            <%= @listing.city %>
          </p>

          <p>
            <strong>Suburb:</strong><br>
            <%= @listing.suburb %>
          </p>

          <p>
            <strong>Seller:</strong><br>
            <%= @listing.user.try(:username) %>
          </p>
        
  <%# Only allow the seller and admin to edit/delete post, for other users show msg seller btn, for signed out redirect to log in %>
          <% if @listing.user == current_user || has_role?(:admin) %>   
            <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-secondary" %>
          <% else %> 
            <% if user_signed_in? %>
  <%# Send email to the seller  %>
              <%= mail_to "#{@listing.user.email}", 'Message seller', class: "btn btn-secondary" %>
            <% else %>
              <%= link_to 'Message seller', new_user_session_path, class: "btn btn-secondary" %>
            <% end %>
          <% end %>
        <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>