<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <% @listing.images.each do |image| %>
      <%= image_tag image, class: "listing-image" %>
      <% end %>
      </div>

      <div class="col">
      <br><br>
      <p>
        <strong>Title:</strong>
        <%= @listing.title %>
      </p>

      <p>
        <strong>Price:</strong>
        $<%= @listing.price %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @listing.description %>
      </p>

      <p>
        <strong>Measurements:</strong>
        <%= @listing.measurements %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @listing.state %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @listing.city %>
      </p>

      <p>
        <strong>Suburb:</strong>
        <%= @listing.suburb %>
      </p>

      <p>
        <strong>Seller:</strong>
        <%= @listing.user.try(:username) %>
      </p>
      
<%# Only allow the seller and admin to edit/delete post, for other users show msg seller btn, for signed out redirect to log in %>
      <% if @listing.user == current_user || has_role?(:admin) %>   
        <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-secondary" %>
      <% else %> 
        <% if user_signed_in? %>
          <%= link_to 'Message seller', root_path, class: "btn btn-secondary" %>
          <% else %>
          <%= link_to 'Message seller', new_user_session_path, class: "btn btn-secondary" %>
        <% end %>
      <% end %>

      <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>