<p id="notice"><%= notice %></p>

<% @listing.images.each do |image| %>
<%= image_tag image %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Measurements:</strong>
  <%= @listing.measurements %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @listing.suburb %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.user.try(:username) %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
